/* dose-analysis.component.css */

.dose-analysis-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(11, 137, 153, 0.585), rgba(77, 79, 136, 0.5));
  }
  
  .heading-container {
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
  }
  
  .heading {
    color: white;
  }
  
  .content-container {
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    margin-bottom: 10px;
  }
  
  .column label {
    display: block;
    margin-bottom: 5px;
  }
  
  .column input,
  .column select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .close-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .close-button:hover {
    background-color: darkred;
  }
  .next-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .next-button:hover {
    background-color: darkred;
  }
  