<!-- Button to trigger the modal -->
<button class="button is-primary" (click)="openModal()">New RadioNuclide</button>

<!-- Modal structure -->
<div class="modal" [class.is-active]="isModalOpen">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create RadioNuclide</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <form (ngSubmit)="onSubmit()" class="bulma-form">
        <div class="heading">
          <h2>**Marked Fields are compulsory. Employee Number must be filled for Employees</h2>
        </div>

        <div class="flex-container"> 
          <div class="flex-item">
            <label for="name">Name</label>
            <select id="name" name="name" [(ngModel)]="radionuclide.name" required>
              <option value="Ar-41">Ar-41</option>
              <option value="Co-60">Co-60</option>
              <option value="Cs-137">Cs-137</option>
              <option value="I-131">I-131</option>
              <option value="K-40">K-40</option>
              <option value="Ru-106">Ru-106</option>
              <option value="Sc-46">Sc-46</option>
            </select>
          </div>

          

          
          <div class="flex-item">
            <label for="cron">MDA:</label>
            <input type="text" id="mda" name="mda" [(ngModel)]="radionuclide.mda" required>
          </div>
        </div>
 
        <div class="flex-container"> 
      <div class="flex-item">
          <label for="crby">Energy(keV):</label>
          <input type="text" id="kev" name="kev" [(ngModel)]="radionuclide.kev" required>
        </div>

        <div class="flex-item">
            <label for="yeild">Yield:</label>
            <input type="text" id="yield" name="yield" [(ngModel)]="radionuclide.yield" required>
          </div>
        </div>
        <button class="button is-success"  style="margin-top: 10px;" type="submit">Submit</button>

        <!-- <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div> -->
      </form>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <!-- <button class="button is-success" type="submit">Save changes</button> -->
        <button class="button is-black" (click)="closeModal()">Cancel</button>
        
      </div>
    </footer>
  </div>
</div>
