<div class="search" style="margin-right: 45%;">
  <app-search [data]="savedData" searchKey="name" (results)="onSearchResults($event)" [isShowStartDate]="false" [isShowEndDate]="false"></app-search>
</div>

<div class="box" style="margin-top: 7%;">
  <div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Plant</th>
          <th>Employee Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of searchResults">
          <td>{{ data.name }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.dob }}</td>
          <td>{{ data.plant }}</td>
          <td>{{ data.empno }}</td>
          <td>
            <button class="button is-info" (click)="selectWorker(data)">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <app-breif-monitoring-details></app-breif-monitoring-details>
</div>