<!-- Button to trigger the modal -->
<button class="button is-primary" (click)="openModal()">Add TLD</button>

<!-- Modal structure -->
<div class="modal" [class.is-active]="isModalOpen">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create TLD</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <form (ngSubmit)="onSubmit()" class="bulma-form">
        <div class="heading">
          <h2>**Marked Fields are compulsory. Employee Number must be filled for Employees</h2>
        </div>

        <div class="flex-container"> 
            <div class="flex-item">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" [(ngModel)]="tld.name" required>
              </div>
              
              
              <div class="flex-item">
                <label for="plant">Plant:</label>
                <input type="text" id="plant" name="plant" [(ngModel)]="tld.plant" required>
              </div>
          
          <div class="flex-item">
            <label for="cron">Created On:</label>
            <input type="date" id="cron" name="cron" [(ngModel)]="tld.cron" required>
          </div>
    
 

      <div class="flex-item">
          <label for="crby">Created By:</label>
          <input type="text" id="crby" name="crby" [(ngModel)]="tld.crby" required>
        </div>
    </div>

        <button class="button is-success"  style="margin-top: 10px;"   type="submit">Submit</button>

        <!-- <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div> -->
      </form>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <!-- <button class="button is-success" type="submit">Save changes</button> -->
        <button class="button is-black" (click)="closeModal()">Cancel</button>
        
      </div>
    </footer>
  </div>
</div>
