<div class="parent container">
  <h1>Manual Analysis for {{ name }} ({{ empNo }})</h1>
</div>
    <div class="child-container">
        
        <app-firstcom></app-firstcom>
<div>
        <app-secondcom></app-secondcom>
    </div>
      <div>
        <app-thirdcom></app-thirdcom>
      </div> 
      <div>
        <app-fourthcom></app-fourthcom>
      </div> 
      <div>
        <app-fifthcom></app-fifthcom>
      </div> 
      <div>
        <app-sixthcom></app-sixthcom>
      </div> 
      <div>
        <app-seventhcom></app-seventhcom>
      </div>
      <div>
        <app-eighthcom></app-eighthcom>
      </div>
  </div>
  