/* schedule.component.css */

body {
    background: linear-gradient(to right, #00ff00, #87CEEB); /* Green to Light Blue gradient */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
  }
  
  input[type="date"] {
    width: 10%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .back-to-home {
    position: absolute;
    top: 70px;
    right: 20px;
  }
  
  /* Add more styles as needed for your specific design */
  