
<div>
    <div class="heading-container">
        <h1 class="title is-1">List Of Health Physicist</h1>
    </div>
    <table class="table is-bordered is-striped is-narrow is-hoverable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Plant</th>
          <th>Email</th>
          <th>Created On:</th>
          <th>Created By:</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let geometry of geometries">
          <td>{{ geometry.name }}</td>
          <td>{{ geometry.plant }}</td>
          <td>{{ geometry.email}} <button class="button is-info is-rounded">Verify</button> </td>
          <td>{{ geometry.createdon }}</td>
          <td>{{ geometry.createdby }}</td>
          <td><button class="button is-success is-rounded">Change Plant</button></td>
          <td><button class="button is-danger is-rounded">Resigned</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  